<!-- angular directives ngIf*  -->
<body>
<h1>To - Do List: </h1>

<div>
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="checked">{{activity[0]}}</mat-checkbox>
    <br><br>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">{{activity[1]}}</mat-checkbox>
  </section>
</div>
<br>
  <!-- <div *ngFor = "let i of activity"> -->
    <div *ngIf = "checked == true ">
      <p class="main1"> You completed {{activity[0]}}</p>
        <p> Caught {{animals[0]}}</p>
        <p> Caught {{animals[1]}}</p>
        <p> Caught {{animals[2]}}</p>
    </div>
    <div *ngIf = "indeterminate == true ">
      <p class="main2"> You completed {{activity[1]}}</p>
        <p> Completed {{sub[0]}}</p>
        <p> Completed {{sub[1]}}</p>
        <p> Completed {{sub[2]}}</p>
    <!-- </div> -->
</div>
</body>